streamlit==1.54.0
streamlit-autorefresh==1.0.1
pysqlite3-binary
langchain-chroma
langchain-huggingface
langchain_community
langchain>=0.3.0
chromadb
rank_bm25
groq
transformers
torch
sentence-transformers
numpy
pandas